{
  "singleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "all",
  "arrow-parens": "always",
  "importOrder": [
    "(.*)react(.*)",
    "(.*)redux(.*)\",",
    "<THIRD_PARTY_MODULES>",
    "^~[^/components](.*)$",
    "^~/router(.*)$",
    "^~/assets(.*)$",
    "^~/components(.*)$",
    "^~/css(.*)$",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true,
  "order": "smacss",
  "keepOverrides": true
}
